<doctype html!>
	<html>
	<head>
	<title>Register </title>
	<link rel="stylesheet" href="style.css" />
	</head>
	<body>
	<form action="/action_page.php" method="get">
	<p>Register: </p> </br>
	<p>Name: <input type="text" name=""> </p>
	<p>CompanyName: <input type="text" CompanyName=""> </p>
	Grower:
	<input type="Radio" name="growordist value=">
	Distributor:
	<input type="Radio" name="growordist value="> </br> </br>
	ID:
	<input type="number"> </br></br>
	<input type="Submit" value="Submit" > </br> </br>
	<p> Already a member? <a href="LoginPage.html">click to login </a> </p>
	</form>
	</body>
	</html>


